<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Catalog</title>

</head>
<body>
<script>

</script>
<div class="container">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{url_for('catalog')}}">Catalog App</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        {% if not session.username %}
        <li><a href="{{url_for('showLogin')}}"><button class="btn btn-default btn-google">Google Signin</button></a></li>
        {% else %}
        <li><a href="{{url_for('gdisconnect')}}"><button class="btn btn-warning">Logout</button></a></li>
        {% endif %}
    </ul>
  </div>
</nav>
</div>
<div class="container">
    <div id="content">
        {% block content %}
    <div class="">..</div>
        {% endblock %}
    </div>
    <div id="footer">
        {% block footer %}
        <br>&copy; Copyright 2019 by <a href="https://austin-ridings.net/" target="_blank">Austin Ridings</a>
        {% endblock %}
    </div>
    </div>
</body>
</html>