{% extends "base.html" %}
{% block content %}

    <a class="btn btn-info btn-add" href="{{url_for('addItem', category_id=cat.id)}}">Add New Item</a>

    {% with messages = get_flashed_messages() %}
            {% if messages %}

                <ul>
                {% for message in messages %}
                    <li> <strong> {{ message }} </strong></li>
                {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}
<div class="row">
    <div class="col-md-4">
<h1>Categories</h1>
{% for c in cats %}

<a class="btn btn-default btn-lg btn-catalog" href="{{url_for('categoryItems', category_id = c.id)}}">{{ c.name }}</a>

{% endfor %}
</div>
<div class="col-md-8">
<h2>{{ cat.name }} Items ({{ itemcount }} Items)</h2>
{% for i in items %}

<a class="btn btn-default btn-lg btn-item" href="{{url_for('categoryItem', item_id = i.id, category_id=cat.id)}}">{{ i.name }}</a><br>

{% endfor %}
</div>
</div>

{%endblock%}